@import '../../../app/index.scss';

.app {
  margin: 0 auto;
  display: grid;
  grid-template-rows: $bar-height 1fr;
  min-height: 100vh;
}

.bounding {
  @extend %container;
}

.inner {
  @extend %content;
}
