$bar-height: 70px;
$bar-bg-color: #000;
$bar-color: #fff;

.app {
  margin: 0 auto;
  display: grid;
  grid-template-rows: $bar-height 1fr;
  min-height: 100vh;
}

.header {
  height: $bar-height;
  background-color: $bar-bg-color;
  color: $bar-color;
}

.footer {
  height: $bar-height;
  text-align: center;
  line-height: $bar-height;
  background-color: $bar-bg-color;
  color: $bar-color;
}

.bounding {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;
  height: inherit;
}

.inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}